<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

    <title>Leaflet and Folium Map with Flask</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div id="map"></div>

</body>

<script src="{{ url_for('static', filename='js/india_district.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>